{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PropertyplusDecor</title>
    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">
    <!-- Icon Fonts -->
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.min.css' %}">
    <!-- Acres Style sheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/primary-skin.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/misc/favicon.ico' %}">
    <style>
        .fit-image{
          width: 100%;
          object-fit: cover;
          height: 80px; /* only if you want fixed height */
          }
        .fit-logo{
        width: 100%;
        object-fit: cover;
        height: 60px; /* only if you want fixed height */
        }

    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div class="acr-preloader">
        <div class="acr-preloader-inner">
            <div class="lds-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Aside (Mobile Navigation) -->
    <aside class="main-aside">
        <div class="aside-title">
            <div class="aside-controls aside-trigger">
                <h4>Menu</h4>
                <div class="close-btn close-dark">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="aside-scroll">
            <ul>
                <!-- Pages Start -->
                <li class="menu-section-title">Pages</li>
                <li class="menu-item menu-item-has-children">
                    <a href="#"> <i class="flaticon-home"></i> Home </a>
                    <ul class="submenu">
                        <li class="menu-item"> <a href="{% url 'properties' %}"> Home</a> </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#"> <i class="flaticon-layers"></i> Pages</a>
                    <ul class="submenu">
                        <li class="menu-item"> <a href="{% url 'aboutus' %}">About Us</a> </li>
                        <li class="menu-item"> <a href="{% url 'services' %}">Services</a> </li>
                        <!-- <li class="menu-item"> <a href="{% url 'faq' %}">FAQ</a> </li> -->
                        <!-- <li class="menu-item"> <a href="{% url 'pricing' %}">Pricing</a> </li> -->
                        <li class="menu-item"> <a href="{% url 'contactus' %}">Contact Us</a> </li>
                        <!-- <li class="menu-item"> <a href="{% url 'login' %}">Login</a> </li>
                        <li class="menu-item"> <a href="{% url 'register' %}">Register</a> </li>
                        <li class="menu-item"> <a href="{% url 'legal' %}">Legal</a> </li> -->
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#"><i class="flaticon-list"></i>Properties</a>
                    <ul class="submenu">
                        <li class="menu-item"> <a href="{% url 'properties-apartments' %}">Apartments</a> </li>
                        <li class="menu-item"> <a href="{% url 'properties-villas' %}">Villas</a> </li>
                        <li class="menu-item"> <a href="{% url 'properties-residential' %}">Residential</a> </li>
                        <li class="menu-item"> <a href="{% url 'properties-duplex' %}">Duplex</a> </li>
                        <li class="menu-item"> <a href="{% url 'properties-commercial' %}">Commercial</a> </li>
                        <li class="menu-item"> <a href="{% url 'properties-plots' %}">Plots</a> </li>
                        <a href="{% url 'submit-listing' %}" class="btn-custom primary">Submit Listing <i class="fas fa-plus"></i> </a>
                    </ul>
                </li>
                <!-- Pages End -->
                <!-- Social Media Start -->
                <li class="menu-section-title">Get Social</li>
                <li class="menu-item"> <a href="#"> <i class="flaticon-facebook"></i>Facebook</a> </li>
                <li class="menu-item"> <a href="#"> <i class="flaticon-linkedin"></i> Linkedin </a> </li>
                <li class="menu-item"> <a href="#"> <i class="flaticon-twitter"></i> Twitter </a> </li>
                <li class="menu-item"> <a href="#"> <i class="flaticon-instagram"></i> Instagram </a> </li>
                <!-- Social Media End -->
            </ul>
        </div>
    </aside>
    <div class="aside-overlay aside-trigger"></div>
    <!-- Header Start -->
    <header class="main-header header-fw can-sticky">
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="top-header-inner">
                    <ul class="social-media">
                        <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
                        <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
                        <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                    </ul>
                    <ul class="top-header-nav">
                        <li> <a href="{% url 'login' %}"> Login</a> </li>
                        <li>or</li>
                        <li> <a href="{% url 'register' %}"> Signup</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Top Header End -->
        <nav class="navbar">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" > <img src="{% static 'img/property_backimg/logo.jpg' %}" alt="logo" class="img-responsive fit-logo"> </a>
                <!-- Menu -->
                <ul class="navbar-nav">

                    <li class="menu-item menu-item-has-children">
                        <a href="{% url 'properties' %}">Home</a>
                        <ul class="submenu">
                            <li class="menu-item"> <a href="{% url 'properties' %}">Home</a> </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children mega-menu-wrapper">
                        <a href="#">Pages</a>
                        <ul class="submenu">
                            <li>
                                <!-- <img src="https://via.placeholder.com/500x884" alt="img"> -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mega-menu-item">
                                                <h5>Company</h5>
                                                <a href="{% url 'aboutus' %}">About Us</a>
                                                <a href="{% url 'services' %}">Services</a>
                                                <a href="{% url 'contactus' %}">Contact Us</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mega-menu-item">
                                                <h5>Properties</h5>
                                                <a href="{% url 'properties' %}">Find Home</a>
                                                <a href="{% url 'submit-listing' %}">Submit Listing</a>
                                                <a href="{% url 'properties-apartments' %}">Properties</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mega-menu-item">
                                                <h5>Interiors</h5>
                                                <a href={% url 'interiors' %}>Find Designers</a>
                                                <a href={% url 'designs' %}>Search Designs</a>
                                                <a href={% url 'portfolios' %}>View Portfolios</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mega-menu-item">
                                                <h5>Partner with Us</h5>
                                                <a href={% url 'submit-listing' %}>Register your Property</a>
                                                <a href={% url 'listingportfolio' %}>Interiors Business Registration</a>
                                                <a href={% url 'listingportfolio' %}>List Portfolios</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Properties</a>
                        <ul class="submenu">
                            <li class="menu-item"> <a href="{% url 'properties-apartments' %}">Apartments</a> </li>
                            <li class="menu-item"> <a href="{% url 'properties-villas' %}">Villas</a> </li>
                            <li class="menu-item"> <a href="{% url 'properties-residential' %}">Residential</a> </li>
                            <li class="menu-item"> <a href="{% url 'properties-duplex' %}">Duplex</a> </li>
                            <li class="menu-item"> <a href="{% url 'properties-commercial' %}">Commercial</a> </li>
                            <li class="menu-item"> <a href="{% url 'properties-plots' %}">Plots</a> </li>
                        </ul>
                    </li>
                </ul>
                <div class="header-controls">
                    <ul class="header-controls-inner d-none d-lg-flex">
                        <li>
                            <a href="{% url 'submit-listing' %}" class="btn-custom primary">Submit Listing <i class="fas fa-plus"></i> </a>
                        </li>
                    </ul>
                    <!-- Toggler -->
                    <div class="aside-toggler aside-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->
    {% block body_block %}
    {% endblock %}
    <!-- Footer Start -->
    <footer class="acr-footer footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 footer-widget">
                    <h5 class="widget-title"> Social Connect</h5>        
                    <div class="footer-logo"> <img src="{% static 'img/property_backimg/logo.jpg' %}" alt="" class="img-responsive fit-logo"> </div>
                    <ul class="social-media">
                        <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                        <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
                        <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
                    </ul>
                    <!-- <p>Connect with us and get latest updates</p> -->
                    <!-- <br></br> -->
                    
                </div>
                <div class="col-lg-2 offset-lg-1 col-sm-4 footer-widget">
                    <h5 class="widget-title">Company</h5>
                    <ul>
                        <li> <a href="{% url 'aboutus' %}">About Us</a> </li>
                        <li> <a href="{% url 'services' %}">Services</a> </li>
                        <li> <a href="{% url 'contactus' %}">Contact Us</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 footer-widget">
                    <h5 class="widget-title">Properties</h5>
                    <ul>
                        <li> <a href="{% url 'properties' %}">Find Home</a> </li>
                        <li> <a href="{% url 'submit-listing' %}">Submit Listing</a> </li>
                        <li> <a href="{% url 'properties-apartments' %}">Properties Search</a> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 footer-widget">
                    <h5 class="widget-title">Interiors</h5>
                    <ul>
                        <li> <a href="{% url 'interiors' %}">Find Designer</a> </li>
                        <li> <a href="{% url 'designs' %}">Search Designs</a> </li>
                        <li> <a href="{% url 'portfolios' %}">View Portfolio</a> </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="m-0">&copy; Copyright 2020 - <a href="#">PropertyplusDecor</a> All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-5">
                        <ul>
                            <li> <a href="{% url 'properties' %}">Find a Home</a> </li>
                            <li> <a href="{% url 'legal' %}">Legal Policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Vendor Scripts -->
    <script src="{% static 'js/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'js/plugins/waypoint.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.slimScroll.min.js' %}"></script>
    <script src="{% static 'js/plugins/imagesloaded.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.steps.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'js/plugins/select2.min.js' %}"></script>
    <!-- Acres Scripts -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>