{% load static %}


<!DOCTYPE html>


<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Big Turtle</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
   
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'landingpage/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landingpage/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'landingpage/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'landingpage/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'landingpage/assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'landingpage/assets/css/theme.css' %}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img src=" {% static 'img/property_backimg/logo.jpg' %}" height="50" width="100" alt="..." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page" href="#home">Home</a></li>
 <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page" href="#service">Services</a></li>
  <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page" href="#aboutus">About</a></li>
  <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page"  href="#vendors">Vendors</a></li>
  <li class="nav-item px-2" data-anchor="data-anchor">       <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Contact
</button></li>
            </ul>
            {% comment %} <form class="ps-lg-5"><a class="btn btn-light order-1 order-lg-0" href="#!">login
                <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg></a></form> {% endcomment %}
          </div>
        </div>
      </nav>

<div class="container-fluid mt-1" height="200">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img height="600" src="https://media.istockphoto.com/photos/real-estate-agent-making-a-virtual-tour-of-a-house-picture-id1317532873?b=1&k=20&m=1317532873&s=170667a&w=0&h=VdEDYuDkGBRQRDQNqUeJkStXzLO-J3po0VdY8_YfafI=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img height="600" src="https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img height="600" src="https://images.unsplash.com/photo-1560184897-ae75f418493e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>








      <!-- ============================================-->
      <!-- <section> begin ============================-->

      <!-- <section> close ============================-->
      <!-- ============================================-->



<div class="container-fluid mt-5" id="vendors">



<div class="row row-cols-1 row-cols-md-3 g-4" >

  <div class="col">
    <div class="card h-100">
      <img src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvcGVydGllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BUY  PROPERTY</h5>
        <p class="card-text">We also do registration of property and provide good solution for user.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href="searchproperty" class="btn btn-primary">Go</a></small>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <img src="https://images.unsplash.com/photo-1556912173-3bb406ef7e77?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LOOKING FOR INTERIOR DESIGN </h5>
        <p class="card-text">We also provide interior design fell free to contact with us.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href="interiors" class="btn btn-primary">Go</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img color='blue' src="https://images.unsplash.com/photo-1484154218962-a197022b5858?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">AGORA HOME APPLIANCES</h5>
        <p class="card-text">Agora is a company that provide services for home appliances.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><p><a href="https://agoraindia.com" class="btn btn-primary" target="_blank">Go</a></p></small>
      </div>
    </div>
  </div>
</div>



<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col">
    <div class="card h-100">
      <img src="https://media.istockphoto.com/photos/modern-living-room-interior-3d-render-picture-id1293762741?b=1&k=20&m=1293762741&s=170667a&w=0&h=2RI8SmBN4MrEZuTvdwRzaeB887x-dukFcQBpyQ-qwS4=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HOME INSPECTION</h5>
        <p class="card-text">We Provide services for home inspection you can register with us .</p>
      </div>
      <div class="card-footer">
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  GO
</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://media.istockphoto.com/photos/professional-tiler-making-new-floor-picture-id1319403503?b=1&k=20&m=1319403503&s=170667a&w=0&h=vhjko9vLFi8tFnNil5qwxKZ5bPTieV_idKs50oTwb2k=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TILS</h5>
        <p class="card-text">We Provide services for tiles and marble you can register with us .</p>
      </div>
      <div class="card-footer">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  GO
</button>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100">
      <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZnVybml0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HOME FURNITURES</h5>
        <p class="card-text">We Provide services for home furnitures you can register with us .</p>
      </div>
      <div class="card-footer">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  GO
</button>
      </div>
    </div>
  </div>

</div>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col">
    <div class="card h-100">
      <img src="https://media.istockphoto.com/photos/modern-scandinavian-living-room-interior-3d-render-picture-id1191254426?b=1&k=20&m=1191254426&s=170667a&w=0&h=mOxcnyQSDrsM4e5AHxb667BgJ2i178v0dHpoqUyyFAU=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HOME FURNISHING</h5>
        <p class="card-text">We Provide services for home furnishing you can register with us .</p>
      </div>
      <div class="card-footer">
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  GO
</button>
      </div>
    </div>
  </div>



</div>
</div>





<div>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="pt-8"  id="service">

        <div class="container" id="team">
          <div class="row">
            <div class="col-lg-6 col-xxl-5 text-center mx-auto">
              <h2>What will you get if you'll join us</h2>
              <p class="mb-4">Get the best web hosting service at the price you can afford</p>
            </div>
          </div>
          <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-1 order-0"><img style="  border: 2px solid white;
  border-radius: 50px;" class="w-100" src="https://images.unsplash.com/flagged/photo-1564767609342-620cb19b2357?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
              <div class="d-flex align-items-start"><img class="me-4 " src="{% static 'landingpage/assets/img/icons/give-a-care.png' %}" alt="" width="30" />
                <div class="flex-1">
                  <h5>SERVICES FOR SERVICE PROVIDER(VENDORS)</h5>
                  <p class="text-muted mb-4">
                  
                  <ul>
  <li>Free Sign-up and Profile Creation Option </li>
  <li>Free Upload of past project pics and videos</li>
  <li>Free posting about company website link ,email and phone numbers for end customers</li>
  <li>Free Login and Password </li>
  <li>Customer Leads Generation </li>
  <li>Sales Promotion for their USP and Services</li>
  <li>Free Customer Testimonials and feedback </li>
  <li>Ranking among competitors</li>
</ul>  
                  
                  
                  


                </div>
              </div>
              <div class="d-flex align-items-start"><img class="me-4" src="{% static 'landingpage/assets/img/icons/tweak-as-you.png' %}" alt="" width="30" />
                <div class="flex-1">
                  <h5>
                  SERVICES FOR END CUSTOMERS</h5>
                  <p class="text-muted mb-4">

                  <ul>

                <li>Free search options for end customers for best property developers and builders ,Interior Designing Companies ,Tiles Providers,Home Appliances Retailers, Furniture Retailers and Furnishing Retailer</li>
                <li> 3 Best  Quotations from selected vendors by customers </li>
                <li> Free consultations and help in selecting best vendors of the list </li>
                <li> Preferred Services and discounts from vendors  </li>
                <li> End to End Guidance till service or product delivery  </li>
                <li>  Loyalty Bonus Points and benefits  </li>
                  </ul>
                  
                  </p>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>



      <section class="pt-8" id="aboutus">

        <div class="container" id="team">
          <div class="row">
            <div class="col-lg-6 col-xxl-5 text-center mx-auto">
              <h2>ABOUT US.</h2>
              <p class="mb-4"></p>
            </div>
          </div>
          <div class="row align-items-center mt-5">
            <div class="col-md-5 col-lg-6 order-md-1 order-0"><img style="  border: 2px solid white;
  border-radius: 50px;" class="w-100" src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGluZm9ybWF0aW9uJTIwdGVjaG5vbG9neXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></div>
            <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
              <div class="d-flex align-items-start">
                <div class="flex-1">
                  <h5></h5>
                  <p class="text-muted mb-4">
                  
 We are team of market experts with aim to let our vendors and customers experience the world class services which India has never experienced before in Property Search ,Home Interiors and Decor services. We help customers to find their best property and convert it to dream home by availing our quality services at best price.           
                  
            
        <!-- end of .container-->

      </section>


{% comment %} 
model {% endcomment %}





<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mobileno</label>
    <input type="no" class="form-control" id="exampleInputPassword1">
  </div>

   <div class="mb-3 ">
   <label for="form-select" class="form-label">Select Vendor Type</label>
<select class="form-select" >

  <option selected>SELECT VENDOR </option>
  <option value="PROPERTY">PROPERTY</option>
  <option value="INTERIOR DESIGN">INTERIOR DESIGN</option>
  <option value="HOME APPLIANCES">THOME APPLIANCES</option>
  <option value="HOME INSPECTION">HOME INSPECTION</option>
  <option value="TILS">TILS</option>
  <option value="HOME FURNITURES">HOME FURNITURES</option>
  <option value="HOME FURNISHING">HOME FURNISHING</option>
</select>
  </div>
    <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>






{% comment %} model end {% endcomment %}
          <hr />
          <div class="row flex-center pb-3">
            <div class="col-md-6 order-0">
              <p class="text-200 text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
            </div>
            <div class="col-md-6 order-1">
              <p class="text-200 text-center text-md-end"> Made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#A8B7FF" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'landingpage/vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'landingpage/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'landingpage/vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'landingpage/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'landingpage/assets/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap" rel="stylesheet">
  </body>

</html>